
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "imagen1 imagen1 work     twitter  mapa     mapa"
        "posts   posts   facebook imagen2  mapa     mapa"
        "posts   posts   trending trending imagen3  imagen3";
}

.grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.grid__item--imagen1 {
    background-color: yellow;
    grid-area: imagen1;
}

.grid__item--work {
    background-color: lightgreen;
    grid-area: work;
}

.grid__item--twitter {
    background-color: lightblue;
    grid-area: twitter;
}

.grid__item--mapa {
    background-color: wheat;
    grid-area: mapa;
}

.grid__item--posts {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    background-color: orange;
    grid-area: posts;
    padding: 10px;
    box-sizing: border-box;
}

.grid__item--facebook {
    background-color: royalblue;
    color: white;
    grid-area: facebook;
}

.grid__item--imagen2 {
    background-color: purple;
    color: white;
    grid-area: imagen2;
}

.grid__item--trending {
    background-color: red;
    color: white;
    grid-area: trending;
}

.grid__item--imagen3 {
    background-color: lightblue;
    grid-area: imagen3;
}


.posts__title {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.posts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 

}

.post {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.post__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.post__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__content {
    display: flex;
    flex-direction: column;
}

.post__date {
    font-size: 0.8em;
    color: lightgray;
}

.post__text {
    font-size: 1em;
    color: white;
}